<app-spinner class="item-center-n-relative" [showSpinner]="showLoader"></app-spinner>

<section>
  <app-header *ngIf="!hideHeader" [header]="'Opportunity Pulse'"></app-header>

  <!--OPPORTUNITY VIEW-->
  <div class="p-5" *ngIf="history?.length && hideHeader && !showSalespersonView">
    <div class="bg-white mb-5">
      <div class="relative">
        <div [ngStyle]="{'background-color': '#9CD580'}" class="h-[100px] w-full"></div>
        <img class="rounded-full item-center-n-relative" style="top:95px; width: 80px; height: 80px" [src]="history[0].companyLogo" alt="company_logo">
      </div>

      <div class="p-5 pt-[45px] flex flex-col items-center">
        <p class="text-xl text-center font-semibold">{{history[0].account}}</p>
        <p class="text-2xl text-center font-semibold">{{history[0].pulseHeader}}</p>
        <p class="text-gray-500">{{history[0].openDate}}</p>

        <button class="mt-3" nz-button nzType="primary" [nzSize]="'large'" nzShape="round">
          {{history[0].buttonLabel}}
        </button>
      </div>
    </div>

    <nz-card class="mb-5">
      <h2 class="text-xl font-semibold">Owner</h2>
      <nz-divider></nz-divider>
      <div class="flex gap-5">
        <img class="rounded-[50%]" style="width: 50px; height: 50px;min-width: 50px; min-height: 50px"
             [src]="'data:image/png;base64,' + history[0].ownerImage"
             alt="photo">
        <div class="flex flex-col">
          <p class="text-lg font-semibold" [innerHTML]="history[0].owner"></p>
          <p class="text-gray-500" [innerHTML]="history[0].ownerTitle"></p>
        </div>
      </div>
    </nz-card>

    <app-opportunity-details [opportunityId]="history[0].id"></app-opportunity-details>

  </div>

 <!-- SALESPERSON VIEW-->
  <div class="p-5" *ngIf="history?.length && hideHeader && showSalespersonView">
    <div class="bg-white mb-5">
      <div class="relative">
        <div [ngStyle]="{'background-color': '#35005f'}" class="h-[100px] w-full"></div>
        <img class="rounded-full item-center-n-relative" style="top:95px; width: 80px; height: 80px" [src]="history[0].ownerImage" alt="owner_image">
      </div>

      <div class="p-5 pt-[45px] flex flex-col items-center">
        <p class="text-xl text-center font-semibold">{{history[0].owner}}</p>
        <p class="text-gray-500">{{history[0].ownerTitle}}</p>
      </div>
    </div>
  </div>


  <div *ngIf="newHistoryMap" class="p-5 pb-[70px]">
    <div class="mb-3 flex justify-between items-center">
      <div>
        <span class="font-semibold text-[18px]">Updates </span>
        <span class="text-gray-500">({{totalCount}})</span>

      </div>

      <div class="flex items-center gap-2 cursor-pointer text-gray-500" (click)="showFilterModal = true">
        <fa-icon class="cursor-pointer" [icon]="['fas', 'sliders']"></fa-icon>
        <span class="text-gray-500">Sort & filter</span>
      </div>
    </div>

    <div class="mb-5" *ngFor="let historyPerDate of newHistoryMap | keyvalue: asIsOrder">
      <span class="text-gray-500 text-[14px]" [innerHTML]="historyPerDate.key | transformDate"></span>

      <nz-card class="mb-3" *ngFor="let history of historyPerDate.value" (click)="goToOpportunity(history)">
        <div class="flex gap-5 w-full">
          <!--
                    <fa-icon class="mt-1 cursor-pointer" [icon]="['fas', 'bell']" [size]="'lg'"></fa-icon>
          -->
          <img [src]="'assets/images/'+pulseTypeImageMap[history.pulseType]+'-'+history.icon+'.svg'">

          <div class="w-full">
            <div class="flex items-center justify-between w-full gap-5 mb-2">
              <p class="text-[13px] font-semibold min-w-[178px]"
                 [ngClass]="{'text-green-600': history.icon === 'positive', 'text-red-600': history.icon === 'negative' }"
                 [title]="history.pulseType" [innerHTML]="history.pulseType"></p>
              <p class="text-[12px] text-gray-500" [innerHTML]="history.timeStr"></p>
            </div>

            <div class="flex items-center gap-2 mb-1" *ngIf="!hideCompanyInfo || showSalespersonView">
              <img style="width: 25px; height: 25px" [src]="history.companyLogo" alt="company_logo">
              <p class="basis-3/4 font-bold" [title]="history.pulseHeader"
                 [innerHTML]="history.pulseHeader"></p>
            </div>

            <p class="text-[12px] text-gray-500" [title]="history.pulseDesc"
               [innerHTML]="history.pulseDesc"></p>

          </div>

          <fa-icon class="mt-1 cursor-pointer item-right-center-n-relative mr-4 text-gray-400"
                   [icon]="['fas', 'chevron-right']" [size]="'1x'"></fa-icon>

        </div>
      </nz-card>

    </div>
  </div>

</section>


<nz-modal [(nzVisible)]="showFilterModal" nzTitle="Sort & filter" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
          nzOkText="Apply">
  <ng-container *nzModalContent>
    <app-spinner class="item-center-n-relative" [showSpinner]="showLoader"></app-spinner>
    <div class="mb-5">
      <p class="text-gray-500 text-sm mb-2">Sort By</p>
      <nz-radio-group [(ngModel)]="sortBy">
        <label nz-radio nzValue="LATEST">Latest</label>
        <label nz-radio nzValue="OLDEST">Oldest</label>
      </nz-radio-group>
    </div>

    <div class="mb-5" *ngFor="let filterKey of filterKeys">
      <p class="text-gray-500 text-sm mb-2">{{filterKey}}</p>
      <nz-checkbox-group class="flex flex-col" [(ngModel)]="filters[filterKey]" (ngModelChange)="log(filters[filterKey])"></nz-checkbox-group>
    </div>
  </ng-container>
</nz-modal>
