<app-spinner class="item-center-n-relative" [showSpinner]="showLoader"></app-spinner>

<section>
  <app-header *ngIf="!hideHeader" [header]="'Opportunities'"></app-header>

  <div *ngIf="opportunities" class="g:pl-0 lg:pr-0 md:pl-0 md:pr-0 p-5 pb-[70px]">
    <nz-input-group class="mb-4" [nzPrefix]="prefixSearch" [nzSuffix]="inputClearTpl">
      <input type="text" nz-input placeholder="Search for opportunity"
             [(ngModel)]="inputValue"
             (ngModelChange)="onChange($event)"
             [nzAutocomplete]="auto"/>

      <ng-template #inputClearTpl>
      <span
        nz-icon
        class="ant-input-clear-icon"
        nzTheme="fill"
        nzType="close-circle"
        *ngIf="inputValue"
        (click)="clearSelection()"
      ></span>
      </ng-template>

      <nz-autocomplete #auto>
        <nz-auto-option
          (click)="optionSelected(option)"
          *ngFor="let option of filteredOptions" [nzValue]="option" [nzLabel]="option.pulseHeader">
          {{ option.pulseHeader }}
        </nz-auto-option>
      </nz-autocomplete>

    </nz-input-group>

    <ng-template #prefixSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>

    <nz-card class="mb-3" *ngFor="let opportunity of filteredOpportunities" (click)="goToOpportunity(opportunity)">
      <div class="flex gap-5 w-full">
        <!--
                  <fa-icon class="mt-1 cursor-pointer" [icon]="['fas', 'bell']" [size]="'lg'"></fa-icon>
        -->
<!--
        <img style="width: 50px; height: 50px" [src]="opportunity.companyLogo" alt="company_logo">
-->

        <div class="w-full">
          <div class="flex items-center justify-between w-full gap-5 mb-2">
         <!--   <p class="text-[13px] font-semibold min-w-[178px]"
               [ngClass]="{'text-green-600': history.icon === 'positive', 'text-red-600': history.icon === 'negative' }"
               [title]="history.pulseType" [innerHTML]="history.pulseType"></p>-->
            <p class="basis-3/4 text-[16px] font-bold" [title]="opportunity.pulseHeader"
               [innerHTML]="opportunity.pulseHeader"></p>
            <p class="text-[12px] text-gray-500" [innerHTML]="opportunity.timeStr"></p>
          </div>

          <div class="flex items-start gap-2 mb-1">
<!--
            <img style="width: 25px; height: 25px" [src]="opportunity.companyLogo" alt="company_logo">
-->
          </div>

          <div class="flex gap-2 items-center">
            <img style="width: 22px; height: 22px" *ngIf="opportunity.icon" [src]="'assets/images/'+opportunity.pulseId+'-'+opportunity.icon+'.svg'" alt="icon">
            <img style="width: 22px; height: 22px" *ngIf="!opportunity.icon" [src]="'assets/images/'+opportunity.pulseId+'.svg'" alt="icon">
            <p class="text-[12px] text-gray-500" [title]="opportunity.pulseDesc"
               [innerHTML]="opportunity.pulseDesc"></p>
          </div>

        </div>

        <fa-icon class="mt-1 cursor-pointer item-right-center-n-relative mr-4 text-gray-400"
                 [icon]="['fas', 'chevron-right']" [size]="'1x'"></fa-icon>

      </div>
    </nz-card>
  </div>
</section>
